<h2>New Reminder</h2>

<form class="new-reminder--form" {{action 'createReminder' on="submit"}}>
  <label>
    Title:
    {{input value=title}}
  </label>
  <label>
    Date:
    {{input value=date}}
  </label>
  <label>
    Notes:
    {{input value=notes}}
  </label>
  <button class="new-reminder--submit">Submit</button>
</form>
