<div>
  <h1 class='spec-reminder-title'>{{model.title}}</h1>
  <h3 class='spec-reminder-date'>{{model.date}}</h3>
  {{#if model.notes}}
    <h3 class='spec-reminder-notes'>{{model.notes}}</h3>
  {{/if}}
</div>
