<section>
  <h2>Welcome to</h2>
    <h1 class='spec-title'>{{inline-svg 'logo.svg'}}remEMBER</h1>

  <h3>
    Please click
    {{#link-to 'reminders'}}
      HERE
    {{/link-to}}
    to go to your reminder list.
    You can view existing reminders
    or add new items.
  </h3>
</section>

{{outlet}}
