<section>
  <ul>
    {{#each model as |reminder|}}
      <li>
        {{#link-to 'reminders.reminder' reminder}}
          <button class='spec-reminder-item'>{{reminder.title}}</button>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</section>

{{#link-to 'new'}}<button
  class='new-item-button'>New Item</button>{{/link-to}}

{{outlet}}
{{new-reminder}}
