<section>
  <ul>
    {{#each model as |reminder|}}
    <li>

      {{#if reminder.hasDirtyAttributes}}
          <p class="unsaved">There are unsaved changes.</p>
      {{/if}}

      {{#link-to 'reminders.reminder' reminder}}
        <button class='spec-reminder-item'>{{reminder.title}}</button>
      {{/link-to}}
        <p class='spec-reminder-note'>{{reminder.notes}}</p>
        <p class='spec-reminder-date'>{{reminder.date}}</p>


        <button>
        {{#link-to 'reminders.edit' reminder
            class='edit'}}
          Edit Reminder
        {{/link-to}}
      </button>

    </li>
    {{/each}}
  </ul>
</section>

{{outlet}}
